<h1> SupremeBNB </h1>
<h2>Sign up!</h2>

<form action='/users' method='post'>
  <input type='text' name='username'/>
  <input type='submit' value='Submit'/>
<form/>

<a href='/users/login' name='sign_in'>Existing users sign in</a>
