<!DOCTYPE html>
 <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title></title>
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="../../main.css">
 </head>
 <body>

 <nav class="navbar navbar-expand-md">
  <a class="navbar-brand" href="#">SBnB</a>
  <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="main-navigation">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Blah</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Thing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Free money!</a>
      </li>
    </ul>
  </div>
</nav>

<center>
<h2>
  List your space
  </h2>
<form action='/spaces' method='post'>
  Enter space name:
  <input type='text' name='name' placeholder='name'/><br>
  <br>
  Enter space description:
  <input type='text' name='description' placeholder='description'/><br>
  <br>
  Enter price:
  <input type='text' name='price' placeholder='price'/><br>
  <br>
  Enter dates:
  <br>
  <input type='date' name='start_date' value='start_date'/>
  <input type='date' name='end_date' value='end_date'/>
  <br>
    <br>
  <input type='submit' value='Submit'/><br>
  <br>

<form/>

   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" async defer></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" async defer></script>
 </body>
</html>
